*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
    z-index: 1;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: auto;
}
.logotodecacho {
    width: 7%;
    margin-right: 70px;
}
ul {
    display: flex;
    list-style: none;
    width: 40rem;
    justify-content: space-around;
}
.dicas, .cronogramacapilar, .referencias, .produtos, .cadastrese, .contato {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #9767A9;
}
.dicas:hover {
    font-weight: bold;
}
.cronogramacapilar:hover{
    font-weight: bold;
}
.referencias:hover {
    font-weight: bold;
}
.produtos:hover {
    font-weight: bold;
}
.cadastrese:hover {
    font-weight: bold;
}
.contato:hover {
    font-weight: bold;
}
.boxbusca {
    display: flex;
    border: 3px solid #9767A9;
    border-radius: 50px;
    width: 220px;
    height: 35px;
    margin-left: 65px;
    margin-right: 21px;
}
.lupa {
    width: 10%;
    height: 70%;
    margin-left: 12px;
    margin-top: 5px;
    cursor: pointer;
}
.buscar {
    display: flex;
    margin-left: 5px;
    margin-right: 16px;
    margin-top: 3px;
    opacity: 1;
    outline: 0;
    height: 85%;
    width: 35%;
    border: none;
}
.buscar::-webkit-input-placeholder {
    font-family: 'Montserrat', sans-serif;
    color: #9767A9;
    padding-left: 12px;
}
.buscar::-moz-placeholder {
    font-family: 'Montserrat', sans-serif;
    color: #9767A9;
}
.iconface{
    margin: 8px;
    height: 50%;
    width: auto;
}
.iconinsta {
    margin: 8px;
    height: 50%;
    width: auto;
}
.iconyoutube {
    margin: 8px;
    height: 50%;
    width: auto;
}
.firstsection {
    width: 100%;
    height: 569px;
    margin-top: 13px;
    background-image: url(assets/cabeludo@2x.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.paragraphleft {
    display: flex;
    width: 300px;
    height: 185px;
    font-family: 'Playfair Display', serif;
    color: #FFFFFF;
    font-size: 64px;
    margin-top: 130px;
    margin-right: 69px;
    line-height: 74px;
}
.paragraphright {
    display: flex;
    width: 331px;
    height: 100px;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 300;
    margin-top: 139px;
    margin-left: 45px;
}
.secondsection {
    display: flex;
    border: 1px solid #707070;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 233px;
    background-color: #9767A9;
}
.secondparagraphleft {
    display: flex;
    font-family: 'Playfair Display', serif;
    color: #FFFFFF;
    font-size: 47px;
    border: 2px solid black;
    width: 670px;
    line-height: 61px;
}
.secondparagraphright {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 300;
    border: 2px solid black;
    width: 432px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 50px;
}
.columleft {
    border: 2px solid black;
    width: 50%;
    height: 181rem;
    display: flex;
    margin-top: -3rem;
    position: relative;
}
.cabeloespelho {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 481px;
    position: absolute;
}
.textcabeloespelho {
border: 2px solid red;    
display: flex;
position: absolute;
width: 412px;
height: 390px;
left: 11rem;
top: 23rem;
background-color: #9767A9;
flex-direction: column;
}
.tittlecabeloespelho {
    font-family: 'Playfair Display', serif;
    color: #FFFFFF;
    font-size: 26px;
    width: 70%;
    margin-left: 1rem;
}
.tittlecabeloespelho::first-letter {
    font-size:37px ;
}
.boxparagraphcabeloespelho {
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 300;
    border: 2px solid black;
    width: 94%;
    margin-left: 1rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
}
.sejaamavel {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 481px;
    position: absolute;
    margin-top: 49rem;
}
.textsejamavel {
   border: 2px solid red;    
   display: flex;
   position: absolute;
   width: 412px;
   height: 265px;
   left: 11rem;
   top: 71rem;
   background-color: #9767A9;
   flex-direction: column;
}
.tittlesejaamavel {
    font-family: 'Playfair Display', serif;
    color: #FFFFFF;
    font-size: 26px;
    width: 70%;
    margin-left: 1rem;
}
.tittlesejaamavel::first-letter {
    font-size:37px ;
}
.boxparagraphsejaamavel {
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 300;
    width: 94%;
    margin-left: 1rem;
    padding-top: 1rem;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
}
.raizes {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 481px;
    position: absolute;
    margin-top: 96rem;
}
.textraizes {
    border: 2px solid red;    
   display: flex;
   position: absolute;
   width: 412px;
   height: 330px;
   left: 11rem;
   top: 118rem;
   background-color: #9767A9;
   flex-direction: column;
}
.tittleraizes {
    font-family: 'Playfair Display', serif;
    color: #FFFFFF;
    font-size: 26px;
    width: 70%;
    margin-left: 1rem;
}
.tittleraizes::first-letter {
    font-size:37px ;
}
    .boxparagraphraizes{
        font-family: 'Montserrat', sans-serif;
        color: #FFFFFF;
        font-size: 15px;
        font-weight: 300;
        width: 94%;
        margin-left: 1rem;
        padding-top: 1rem;
        border: 2px solid black;
        display: flex;
        flex-direction: column;
    }
.orgulho {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 481px;
    position: absolute;
    margin-top: 145rem;
}
.textorgulho {
    border: 2px solid red;    
    display: flex;
    position: absolute;
    width: 412px;
    height: 228px;
    left: 11rem;
    top: 166rem;
    background-color: #9767A9;
    flex-direction: column;
}
.tittleorgulho {
    font-family: 'Playfair Display', serif;
    color: #FFFFFF;
    font-size: 26px;
    width: 70%;
    margin-left: 1rem;
}
.tittleorgulho::first-letter {
    font-size:37px ;
}
.boxparagraphorgulho {
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 300;
    width: 94%;
    margin-left: 1rem;
    padding-top: 1rem;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
}